- name: Check if ffmpeg-free is installed
  ansible.builtin.dnf:
    name: ffmpeg-free
    state: present
  register: multimedia_ffmpeg_free_check
  check_mode: true

- name: Swap ffmpeg-free with ffmpeg if installed
  ansible.builtin.dnf:
    name:
      - ffmpeg-free
      - ffmpeg
    state: latest
    allow_downgrade: true
    autoremove: true
  when: multimedia_ffmpeg_free_check.changed


- name: Install codecs
  ansible.builtin.dnf:
    name:
      - transcode
      - lame
      # - xine-lib
      # - gstreamer-plugins-ugly
      # - gstreamer-ffmpeg
      - libdvdread
      - libdvdnav
      - lsdvd
      - ffmpeg
      - xvidcore
      - gstreamer1-plugins-base
      - gstreamer1-plugins-good
      - gstreamer1-plugins-bad-free
      - gstreamer1-plugins-bad-freeworld
      - gstreamer1-plugins-bad-free-extras
      - vcdimager
      - normalize
      - gstreamer1-plugins-good-qt
      - gstreamer1-plugins-good-extras
      - gstreamer1-plugins-good-gtk
      - gstreamer1-plugins-ugly
      - gstreamer1-plugins-ugly-free
      - gstreamer1-plugins-bad-free-fluidsynth
      - gstreamer1-plugins-bad-free-wildmidi
      - gstreamer1-plugins-bad-free-zbar
      - gstreamer1-plugin-openh264
      - gstreamer1-libav
      - libavcodec-freeworld
    state: present
  retries: 3
  delay: 5
  register: multimedia_codecs_result
  until: multimedia_codecs_result is succeeded
