---
- name: Install other multimedia packages
  ansible.builtin.dnf:
    name:
      - simplescreenrecorder
      - audacity
      - obs-studio
    state: present
  retries: 3
  delay: 5
  register: multimedia_result
  until: multimedia_result is succeeded
