- name : Install multimedia player
  ansible.builtin.dnf:
    name:
      - smplayer
      - vlc
      - amarok
      - clementine
      - elisa-player
      - goodvibes       # An Internet radio player
      - radiotray-ng    # An Internet radio player
      - strawberry
    state: present
  retries: 3
  delay: 5
  register: multimedia_result
  until: multimedia_result is succeeded