- name: Install office tools
  ansible.builtin.dnf:
    name:
      - evince
      # - evince-nautilus
      - evince-devel
      - libreoffice-core
      - libreoffice-writer
      - libreoffice-calc
      # - goldendict
    state: present
  retries: 3
  delay: 5
  register: office_result
  until: office_result is succeeded
