---
- name: Check that user exists
  ansible.builtin.shell: "grep {{ username }} /etc/passwd"
  ignore_errors: true
  register: userexist

# Are we in VM or container?
- name: Check the .dockerenv file exists
  ansible.builtin.stat:
    path: /.dockerenv
  register: pre_check_dockerenv
