---
- name: Check that user exists
  ansible.builtin.shell: "grep {{ username }} /etc/passwd"
  ignore_errors: true
  register: pre_check_userexist

# Are we in VM or container?
- name: Check the .dockerenv file exists
  ansible.builtin.stat:
    path: /.dockerenv
  register: pre_check_dockerenv

- name: Install Python and dnf dependencies
  ansible.builtin.dnf:
    name:
      - python3-dnf
    state: present
  retries: 3
  delay: 5
  register: pre_check_dependencies_result
  until: pre_check_dependencies_result is succeeded
