- name: Copy google chrome repo file
  ansible.builtin.copy:
    src: files/google-chrome.repo
    dest: /etc/yum.repos.d/google-chrome.repo
    owner: root
    group: root
    mode: "0755"
    backup: true

- name: Install internet tools
  ansible.builtin.dnf:
    name:
      - firefox
      - qbittorrent
      - telegram-desktop
      - uget
      - tor
      - wget
      - nethogs
      - google-chrome-stable
      - nmap
      - mtr
      - telnet
      - tcpdump
      - curl
      - arp-scan
      - sshuttle
    state: present
  retries: 3
  delay: 5
  register: internet_result
  until: internet_result is succeeded

- name: Make sure tor service is running
  ansible.builtin.systemd:
    state: started
    enabled: true
    name: tor
  when: not pre_check_dockerenv.stat.exists
