- name: Install wireless driver
  ansible.builtin.dnf:
    name:
      - broadcom-wl
      - kmod-wl
      - akmod-wl
    state: present
  retries: 3
  delay: 5
  register: wireless_driver_result
  until: wireless_driver_result is succeeded
