- name: Copy Visual Studio Code repo file
  ansible.builtin.copy:
    src: files/vscode.repo
    dest: /etc/yum.repos.d/vscode.repo
    owner: root
    group: root
    mode: "0755"
    backup: true

- name: Install development tools
  ansible.builtin.dnf:
    name:
      - code # Visual Studio Code IDE
      - git
      - git-crypt
      - golang
      - helm
      - vi
      - vim
    state: present
  retries: 3
  delay: 5
  register: development_result
  until: development_result is succeeded
