- name: Download official Docker CE repository file
  get_url:
    url: https://download.docker.com/linux/fedora/docker-ce.repo
    dest: /etc/yum.repos.d/docker-ce.repo
    mode: '0644'
  retries: 5
  delay: 5
  register: download_docker_ce_repo
  until: download_docker_ce_repo is succeeded

- name : Install virtualization tools
  dnf:
    name:
      - '@virtualization'             # KVM virtualization tools
      - docker-ce                     # Docker CE
      - docker-ce-cli
      - containerd.io
      - VirtualBox                    # VirtualBox virtualization tool
      - virtualbox-guest-additions    # VirtualBox Extension Pack
    state: present
  retries: 3
  delay: 5
  register: install_virtualization_result
  until: install_virtualization_result is succeeded

# Add user to group (vboxusers) that allowed VirtualBox to access USB devices.
- name: Adding existing user '{{ username }}' to group vboxusers
  ansible.builtin.user:
    name: '{{ username }}'
    groups: vboxusers
    append: yes
  when: userexist.rc == 0

# - name: Make sure libvirtd service is running
#   systemd:
#     state: started
#     enabled: yes
#     name: libvirtd
#   when:
#     - install_virtualization_result is succeeded
#     - not pre_check_dockerenv.stat.exists

- include_tasks: 'minikube.yml'
