- name: Download official Docker CE repository file
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/fedora/docker-ce.repo
    dest: /etc/yum.repos.d/docker-ce.repo
    mode: "0644"
  retries: 5
  delay: 5
  register: virtualization_download_docker_ce_repo
  until: virtualization_download_docker_ce_repo is succeeded

- name: Install virtualization tools
  ansible.builtin.dnf:
    name:
      - '@virtualization'             # KVM virtualization tools
      - docker-ce                     # Docker CE
      - docker-ce-cli
      - containerd.io
      - VirtualBox                    # VirtualBox virtualization tool
      - virtualbox-guest-additions    # VirtualBox Extension Pack
    state: present
  retries: 3
  delay: 5
  register: virtualization_result
  until: virtualization_result is succeeded

# Add user to group (vboxusers) that allowed VirtualBox to access USB devices.
- name: Adding existing user to group vboxusers for user {{ username }}
  ansible.builtin.user:
    name: '{{ username }}'
    groups: vboxusers
    append: true
  when: userexist.rc == 0

# - name: Make sure libvirtd service is running
#   systemd:
#     state: started
#     enabled: true
#     name: libvirtd
#   when:
#     - virtualization_result is succeeded
#     - not pre_check_dockerenv.stat.exists

- name: Include Minikube installation tasks
  ansible.builtin.include_tasks: minikube.yml
