---
- name: Adding existing user to group libvirt for user {{ username }}
  ansible.builtin.user:
    name: "{{ username }}"
    groups: libvirt
    append: true
  when: pre_check_userexist.rc == 0

- name: Install Minikube
  ansible.builtin.dnf:
    name:
      - https://storage.googleapis.com/minikube/releases/latest/minikube-latest.x86_64.rpm
    disable_gpg_check: true
    state: present
  retries: 5
  delay: 5
  register: virtualization_download_minikube
  until: virtualization_download_minikube is succeeded

- name: Install kubectl
  ansible.builtin.dnf:
    name:
      - kubernetes-client
    state: present
  retries: 3
  delay: 5
  register: virtualization_kubectl_result
  until: virtualization_kubectl_result is succeeded

- name: Install kubecolor
  ansible.builtin.unarchive:
    src: https://github.com/hidetatz/kubecolor/releases/download/v0.0.20/kubecolor_0.0.20_Linux_x86_64.tar.gz
    dest: /usr/local/bin
    remote_src: true
    mode: "0555"
    extra_opts:
      - "--add-file"
      - "kubecolor"

- name: Add kubecolor to bashrc file
  ansible.builtin.lineinfile:
    path: "/home/{{ username }}/.bashrc"
    line: "{{ item }}"
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: "0644"
  with_items:
    - alias kubectl=kubecolor
    - complete -o default -F __start_kubectl kubecolor
  when: pre_check_userexist.rc == 0
