- name: Install utilitie tools
  ansible.builtin.dnf:
    name:
      - gparted
      - terminator
      - zip
      - unzip
      - unrar
      - screen
      - rsync
      - bash-completion
      - dnf-plugins-core
      - dnf-plugin-system-upgrade
      - ImageMagick
      - ocrmypdf
      - dnf-utils
      - rpmbuild-order
      - ansible
      - python3-ansible-lint
      - kernel-devel
      - dkms
    state: present
  retries: 3
  delay: 5
  register: utilities_result
  until: utilities_result is succeeded

- name: Include sysctl tasks
  ansible.builtin.include_tasks: sysctl.yml

- name: Include glances tasks
  ansible.builtin.include_tasks: glances.yml
