- name : Install utilitie tools
  ansible.builtin.dnf:
    name:
      - gparted
      - terminator
      - zip
      - unzip
      - unrar
      - glances
      - screen
      - rsync
      - bash-completion
      - dnf-plugins-core
      - dnf-plugin-system-upgrade
      - ImageMagick
      - ocrmypdf
      - dnf-utils
      - rpmbuild-order
    state: present
  retries: 3
  delay: 5
  register: utilitie_result
  until: utilitie_result is succeeded

- include_tasks: 'sysctl.yml'
