- name: Increase local port range
  ansible.posix.sysctl:
    name: net.ipv4.ip_local_port_range
    value: "1024 65535"
    sysctl_set: true
    state: present
    reload: true
  when: not pre_check_dockerenv.stat.exists

- name: Increase somaxconn
  ansible.posix.sysctl:
    name: net.core.somaxconn
    value: "65000"
    sysctl_set: true
    state: present
    reload: true
  when: not pre_check_dockerenv.stat.exists
